html {
    // 62.5% <=> 10px
    font-size: 62.5%;
    line-height: 1.4;
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
  }
  
  body {
    font-size: 1.6rem;
  }

  .wrapper {
   max-width: 150rem;
   margin: 0 auto;
   padding: 0 1.6rem;

    .title {
      margin: 2.6rem auto 1.5rem;

      font-weight: normal;
    }

    .desc {
      margin-bottom: 1.5rem;
    }
  }

  