html {
  font-size: 62.5%;
  line-height: 1.4;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

.wrapper {
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}
.wrapper .title {
  margin: 2.6rem auto 1.5rem;
  font-weight: normal;
}
.wrapper .desc {
  margin-bottom: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:active, a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4.3rem;
  font-size: 1.8rem;
  -webkit-box-shadow: 0 3px 8px 5px rgba(110, 110, 110, 0.164);
          box-shadow: 0 3px 8px 5px rgba(110, 110, 110, 0.164);
}
header a {
  display: inline-block;
  padding: 0 1.6rem;
  height: 4.3rem;
  line-height: 4.3rem;
  color: black;
}

.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-left-items:nth-child(1) > a {
  color: white;
  background-color: #f44336;
}
.nav-left-items:nth-child(1):hover a {
  color: black;
  background-color: #cccccc;
}
.nav-left-items:nth-child(1) > a::after {
  content: " Logo";
  padding: 0 1rem;
}
.nav-left-items:nth-child(n):not(:nth-child(1)):hover a {
  background-color: #cccccc;
}

.nav-right a {
  color: black;
  background-color: #e6e6e6;
}
.nav-right a:hover {
  background-color: #a5a5a5;
}

.wrap-name {
  max-width: 150rem;
  height: auto;
  margin: auto;
  padding: 24.5rem 76.6rem 24.5rem 1.6rem;
  background-color: rgb(185, 185, 185);
  background-image: url("../../../assets/imgs/hotel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.wrap-name .hotel-name {
  min-width: 60rem;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.wrap-name .hotel-name-title {
  padding: 1.6rem;
  background-color: orangered;
  color: white;
}
.wrap-name .booking {
  padding: 1.6rem;
}
.wrap-name .booking-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}
.wrap-name .booking-items-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.wrap-name .booking-items-wrapper input {
  width: 100%;
  height: 4rem;
  padding: 0.8rem;
  font-size: 1.7rem;
  border-radius: 5px;
  border: none;
  outline: 1px groove rgb(173, 173, 173);
}
.wrap-name .booking-btn {
  margin-top: 0.5rem;
  padding: 0.8rem 1.6rem;
  background-color: rgb(177, 177, 177);
  border: none;
  font-size: 1.7rem;
  border-radius: 10px;
}
.wrap-name .booking-btn:hover {
  cursor: pointer;
  background-color: rgb(100, 100, 100);
  color: white;
}

.wrap-rooms .form-checkin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}
.wrap-rooms .form-checkin-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 0.5rem;
}
.wrap-rooms .form-checkin-wrap > input {
  width: 100%;
  height: 4rem;
  padding: 0.8rem;
  font-size: 1.7rem;
  border: none;
  outline: 1px groove rgb(173, 173, 173);
}
.wrap-rooms .form-checkin-wrap:nth-child(1), .wrap-rooms .form-checkin-wrap:nth-child(2) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.wrap-rooms .form-checkin-btn {
  width: 100%;
  height: 4rem;
  border: none;
  text-transform: uppercase;
  color: white;
  background-color: black;
}
.wrap-rooms .form-checkin-btn:hover {
  cursor: pointer;
  color: black;
  background-color: rgb(185, 185, 185);
}
.wrap-rooms .room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  margin-top: 1.6rem;
}
.wrap-rooms .room-items {
  width: 49rem;
  max-height: 60rem;
  background-color: rgb(233, 233, 233);
}
.wrap-rooms .room-items .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrap-rooms .room-items-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 1.6rem;
}
.wrap-rooms .room-items-wrap > h3 {
  letter-spacing: 2px;
  font-size: 2.4rem;
  font-weight: lighter;
  opacity: 0.9;
}
.wrap-rooms .room-items-wrap > p:nth-of-type(1) {
  opacity: 0.7;
}
.wrap-rooms .room-items-wrap > p:nth-of-type(2) {
  font-style: italic;
}
.wrap-rooms .room-items-wrap-btn {
  width: 100%;
  height: 4rem;
  border: none;
  font-weight: bold;
  background-color: black;
  color: white;
}
.wrap-rooms .room-items-wrap-btn:hover {
  cursor: pointer;
  background-color: rgb(173, 173, 173);
  color: black;
}

.wrap-about {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.wrap-about-items .desc-about > i {
  font-size: 2.5rem;
}
.wrap-about .map {
  margin: 2.6rem auto 3.2rem;
}
.wrap-about .map img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrap-about .address {
  grid-column: 1/span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 3rem;
}
.wrap-about .address .address-items {
  font-size: 2.5rem;
}
.wrap-about .address .address-items > i {
  padding: 0 1rem;
  color: orangered;
}

.notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 153rem;
  height: 12rem;
  margin: 0 auto;
  padding: 0 1.6rem;
  color: white;
  background-color: orangered;
  border-left: 0.5rem solid gray;
}
.notice span:nth-child(1) {
  display: inline-block;
  margin: auto 2rem;
  width: 4rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  font-size: 2rem;
  color: white;
  border-radius: 5px;
  background-color: rgb(255, 165, 113);
}