footer {
  @include dflex;
  flex-direction: column;
  gap: 1.5rem;

  height: 23rem;

  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;

  h3 {
    font-weight: lighter;
    letter-spacing: 5px;
  }
}

.social {
  @include dflex;
  gap: 1.5rem;

  .social-items {
    > a {
      display: inline-block;
      font-size: 3rem;
      color: white;
      transition: all 0.3s ease-in-out;
      will-change: transform;
    }

    > a:hover {
      transform: scale(1.15);
      opacity: 0.5;
    }
  }
}

.copyright {
  a {
    display: inline-block;
    color: white;
    font-size: 1.8rem;

    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }
}
