header {
  @include dflex(center, space-between);
  height: 4.3rem;

  font-size: 1.8rem;

  box-shadow: 0 3px 8px 5px rgba(110, 110, 110, 0.164);
  a {
    display: inline-block;
    padding: 0 1.6rem;
    height: 4.3rem;
    line-height: 4.3rem;

    color: black;
  }
}

.nav-left {
  @include dflex(center, center);

  &-items {
    &:nth-child(1) {
      > a {
        color: white;
        background-color: #f44336;
      }

      &:hover a {
        color: black;
        background-color: #cccccc;
      }
    }
    
    &:nth-child(1) > a::after {
      content: " Logo";
      padding: 0 1rem;
    }
    
    &:nth-child(n):not(:nth-child(1)):hover a {
      background-color: #cccccc;
    }

  }
}

.nav-right {
  a {
    color: black;
    background-color: #e6e6e6;

    &:hover {
      background-color: #a5a5a5;
    }
  }
}
